/*Basic styling*/
body {
	background-color: aqua;
}
h1, h1 a {
	position: relative;
	font-size: 90px;
	color: black;
	font-family: 'Myriad-Pro', 'Myriad', helvetica, arial, sans-serif;
	text-shadow: 2px 3px 3px #292929;
	letter-spacing: -6px;
	-webkit-text-stroke: 1px white;
}
h2 {
	position: relative;
	font-size: 55px;
	color:black;
	font-family: 'Myriad-Pro', 'Myriad', helvetica, arial, sans-serif;
	text-shadow: 2px 3px 3px #292929;
	letter-spacing: -3px;
	-webkit-text-stroke: .5px white;
}
h3 {
	position: relative;
	font-size: 35px;
	color:black;
	font-family: 'Myriad-Pro', 'Myriad', helvetica, arial, sans-serif;
	text-shadow: .5px 1px 1px #292929;
	letter-spacing: -1px;
	-webkit-text-stroke: .25px white;
}
h4 {
	position: relative;
	font-size: 30px;
	/*font-family: 'Myriad-Pro', 'Myriad', helvetica, arial, sans-serif;
	font-family: 'Helvetica Neue';*/
	font-family: 'Century Gothic';
	
}
a {
	color: #000099;
	font-family: 'Century Gothic';
	/*font-family: 'Helvetica Neue';*/
	font-weight:bold;
	size: 17px !important;
}
a:hover {
	color: 0xFF3300 !important;
}
a:visited { 
	color: 0xFFCCCC !important;
}
p, li {
	/*font-family: Georgia, serif;
	font-family: 'Helvetica Neue';*/
	font-family: 'Century Gothic'; 
	font-size:16px;
}
li a {
	
	font-family: 'Century Gothic';
	/*font-family: 'Helvetica Neue';*/
	font-weight: bold;
	font-size: 20px;
	color: black;
}


/* active tab color */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  	color: #fff;
  	border-color: aquamarine;
  	background-color: #000099;
}

/* hover tab color */
.nav-tabs>li>a:hover {
	color: #fff;
	border-color: aquamarine;
  	background-color: #484848;
}

/* styling for various boxes */
#skills {
	background-color: #484848;
	color: white;
	font-family: 'Century Gothic';
	font-size: 15px;
	height: 230px;
}
#classes {
	background-color: #484848;
	color: white;
	font-family: 'Century Gothic';
	font-size: 15px;
	height: 200px;
}

/*styling for contact icons*/
.social {
    margin: 0px;
    padding: 0px;
}
.social ul {
    margin: 0px;
    padding: 3px;
}
.social ul li {
    margin: 3px;
    list-style: none outside none;
    display: inline-block;
}
.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #484848;
    font-size: 22px;
    text-align: center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}
.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}
.social .fa-github:hover { 
    background: green;
}
.social .fa-linkedin-square:hover { 
    background: #0094BC;
}
.social .fa-envelope:hover { 
    background: #000099;
}
